@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Attendance Management System</h1>
    <p>Click <a href="/Home/Login">Login</a> to get started.</p>
</div>